[submodule "vendor/libsamplerate"]
	path = vendor/libsamplerate
	url = https://github.com/libsndfile/libsamplerate
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/portaudio"]
	path = vendor/portaudio
	url = https://github.com/portaudio/portaudio
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://github.com/boostorg/boost
[submodule "vendor/container_hash"]
	path = vendor/container_hash
	url = https://github.com/boostorg/container_hash.git
